.appointment {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 72px 0;
  background-color: var(--gray-100);
}

.appointment .section__heading::after {
  margin: 1rem auto 0;
}

.appointment__form {
  display: flex;
  flex-direction: column;
}

.appointment__form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.appointment__input,
.appointment__textarea {
  max-width: 400px;
  margin-bottom: 1.5rem;
}

.appointment__textarea {
  resize: none;
}

.appointment__input::placeholder,
.appointment__textarea::placeholder {
  opacity: 0;
}

.appointment__label {
  position: absolute;
  pointer-events: none;
  left: 16px;
  top: 16px;
  transition: 0.2s ease-in-out all;
}

.appointment__input:not(:placeholder-shown) ~ .appointment__label,
.appointment__textarea:not(:placeholder-shown) ~ .appointment__label,
.appointment__input:focus ~ .appointment__label,
.appointment__textarea:focus ~ .appointment__label {
  top: -10px;
  padding: 0 4px;
  background-color: var(--gray-100);
}

.appointment__input:not(:placeholder-shown, :focus) ~ .appointment__label,
.appointment__textarea:not(:placeholder-shown, :focus) ~ .appointment__label {
  font-size: .875rem;
  color: var(--gray-600);
}

.appointment__fieldset-legend,
.appointment__legend-label {
  color: var(--gray-600);
}

.appointment__fieldset-legend {
  margin-bottom: 1rem;
}

.appointment__legend-label {
  cursor: pointer;
}

.appointment__legend-label.checkbox {
  margin: 2rem 0;
}

.appointment__form-btn {
  margin-bottom: 1.5rem;
  border: none;
  font-size: 1rem;
}

.appointment__schedule {
  text-align: center;
  font-family: var(--font-text);
  font-size: .875rem;
  color: var(--gray-600);
}

@media screen and (min-width: 320px) {
  .appointment {
    padding: 2rem 1rem;
  }

  .appointment__input, 
  .appointment__textarea {
    width: 100%;
  }  
}

@media screen and (min-width: 560px) {
  .appointment {
    padding: 3rem 0;
  }
}

@media screen and (min-width: 992px) {
  .appointment {
    padding: 6rem 0;
  }
}