.appointment__toast {
  position: fixed;
  top: 24px;
  right: 24px;
  padding: 1rem;
  border-radius: .75rem;
  border-left: 6px solid var(--orange-600);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
  background: var(--white);
  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.appointment__toast--active {
  transform: translateX(0%);
}

.toast-content {
  display: flex;
  align-items: center;
}

.toast-message{
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
}

.toast__title {
  margin-bottom: .25rem;
  font-family: var(--font-heading);
  font-weight: 600;
  color: var(--gray-600);
}

.toast__description {
  font-family: var(--font-text);
  font-size: .875rem;
  font-weight: 400;
  color: var(--gray-400);
}

/* .toast__close{
  position: absolute;
  top: 10px;
  right: 15px;
  padding: 5px;
  cursor: pointer;
  opacity: .7;
}

.toast__close:hover{
  opacity: 1;
} */

.toast__progress{
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.toast__progress:before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--orange-600);
}

.toast__progress--active:before{
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100%{
    right: 100%;
  }
}